th, td{
    padding: 1rem 1rem;
}
td.icon-table{
    padding: 0.5rem 1rem;
}

td.btn-table{
    padding: 0.5rem 0.3rem;
}

td.image-table{
    padding:0.3rem 0.5rem 0rem 0.5rem;
}

td img{
    max-width: 3.5rem;
    border-radius: 50%;
    overflow: hidden;
}
.table-footer{
    padding:  1rem;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.table-footer > div{
    margin-left: 1rem;
    height: 1.6em;
    display: flex;
}

.table-footer > div:nth-child(2){
    margin-top: 0.1em;
}

.sem-resultado{
    padding: 0.5rem;
}

.select-limit .select-wrapper{
    width: 2.8rem;    
}

table th, table td, table td .btn{
    color: rgba(#9e9e9e, 1);
}

table th i, table td .material-icons{
    font-size: 1.4rem;
}
table td .btn{
    z-index: 100;
}
table th i, table td .btn{
    top: 0rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

table tr:hover td, table tr:hover td .btn{
    color: rgba(0, 0, 0, 1);
    background-color: rgba(#e3f2fd, 1);
}
.active-th{
    font-weight: bold;
}
table tr th:hover, table tr th.active-th{
    color: rgba(0, 0, 0, 0.7);
}
table tr.title-indigo th:hover, table tr.title-indigo th.active-th{
    color: rgba(#303f9f, 0.7);
}
table tr.title-blue th:hover, table tr.title-blue th.active-th{
    color: rgba(#1976d2, 0.7);
}
table tr.title-red th:hover, table tr.title-red th.active-th{
    color: rgba(#b71c1c, 0.7);
}
table tr.title-green th:hover, table tr.title-green th.active-th{
    color: rgba(#1b5e20, 0.7);
}
table tr.title-teal th:hover, table tr.title-teal th.active-th{
    color: rgba(#00796b, 0.7);
}
table tr.title-purple th:hover, table tr.title-purple th.active-th{
    color: rgba(#7b1fa2, 0.7);
}
table tr th .material-icons{
    font-size: 1.3rem;
    margin-left: 0.2rem;

}
table tr th:hover .material-icons{
    color: rgba(#9e9e9e, 1);
}

table .th-table{
    display: flex;
    align-items: center;
}

.th-mouse-hover{
    cursor: pointer;
}

.tr-selected td{
    color: white;
    background-color: rgba(#2196f3, 1) !important;
}

.tr-selected td .btn{
    color: white;
}

.tr-selected:hover td{
    color: white !important;
    background-color: rgba(#2196f3, 0.8) !important;
}

.tr-selected:hover td .btn{
    color: white !important;
}
.msg-table-drag-drop{
    position: relative;
    min-height: 2rem;
    background-color: rgba(242, 242, 242, 1);
    padding: 0.5rem;
}
.msg-table-drag-drop-label{
    // background-color: rgba(255, 255, 255, 1);
    font-weight: 500;
    padding: 0.5rem;
    border: dashed 0.2rem rgba(white, 1);
    color: rgba(black, 0.6);
}

.msg-nenhum-resultado{
    font-size: 1.5rem;
    font-weight: 400;
    padding: 0.5rem;
}