<div class="center-align card">
  <div *ngIf="(data && data.list && data.list.length > 0) || list; else nenhumResultado" @ngIfFade>
    <table  class="animate white {{addClass}} " @ngIfFade >
      <thead>
        <tr *ngIf="data" class="title-{{titleClass}}">
          <th *ngFor="let head of heads" (click)="head.sort && setSort(head.field)" 
                  class="{{head.addClass}}" [style.width]="head.width"
                  [ngClass]="{'th-mouse-hover': head.sort, 'active-th': inSort(head.field)}"  >
            <div class="th-table truncate">
              {{head.label}}
              <i *ngIf="head.sort && inAsc(head.field)" class="material-icons" @ngIfSlide>arrow_upward</i>
              <i *ngIf="head.sort && inDesc(head.field)" class="material-icons" @ngIfSlide>arrow_downward</i>
            </div>
          </th>
        </tr>
        <tr *ngIf="list" class="title-{{titleClass}}">
          <th *ngFor="let head of heads" 
            class="active-th {{head.addClass}}" [style.width]="head.width">
            <div class="th-table truncate">
              {{head.label}}
            </div>
          </th>
        </tr>
      </thead>
      <tbody class="tbody-msg-drop-drag" [dragula]="dragulaName" [dragulaModel]="list || data.list">
        <tr *ngFor="let item of list || data.list" [ngClass]="{'th-mouse-hover': isSelected}"
          
          (click)="clickRow(item)"  [ngClass]="{'tr-selected': item && item.selected}" >
          <td *ngFor="let head of heads" class="{{head.addClass}}" 
            [ngClass]="{'icon-table': head.icon && !head.btn && !head.image, 'btn-table': head.btn, 'image-table': head.image}">
            <span *ngIf="head.field" class="truncate">
              {{
                getValueField(item, head.field)
              }}
            </span>
            <i *ngIf="head.icon && !head.btn && !head.image" class="material-icons {{head.iconClass}}" flat="true">{{head.icon}}</i>
            <img *ngIf="head.image && !head.btn" [src]="head.image" alt="" class="{{imageClass}}">
            <button *ngIf="head.btn" (click)="clickBtn(head, item);"  
              class="transparent btn waves-effect hoverable  {{btnClass}}"
              [tooltip]="head.btnTooltip" [position]="head.btnTooltipPosition || 'left'" mz-tooltip>
                <i *ngIf="head.icon" class="material-icons {{head.iconClass}}" flat="true">{{head.icon}}</i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
    <div *ngIf="data && data.limit && data.page" class="table-footer right-align">
      <div class="right-align">Linhas por página</div>
        <div>
          <mz-select-container>
            <select  mz-select (change)="setLimit($event.target)">
                <option value="5">5</option>
                <option value="10" selected>10</option>
                <option value="20">20</option>
                <option value="30">30</option>
                <option value="40">40</option>
                <option value="50">50</option>
                <option value="100">100</option>
              </select>
            </mz-select-container>

        </div>
        <div>-</div>
        <div>
          {{data.rangeInit}} / {{data.rangeEnd}} 
        </div>
        <div>
            de
        </div>
        <div>
            {{data.qtdTotal}}

        </div>
        <div>
          <button [disabled]="!data.qtdTotal || data.qtdTotal <= 0" (click)="reload()"
            class="hoverable white btn waves-effect btn-floating">
            <i class="material-icons black-text">refresh</i>
          </button>
        </div>
        <div>
          <button [disabled]="!data.page || data.page <= 1" (click)="pageBack()"
            class="hoverable white btn waves-effect btn-floating">
            <i class="material-icons black-text">keyboard_arrow_left</i>
          </button>
        </div>
        <div>
          <button [disabled]="!data.totalPages || data.page >= data.totalPages" (click)="pageNext()"
            class="hoverable white btn waves-effect btn-floating">
            <i class="material-icons black-text">keyboard_arrow_right</i>
          </button>
        </div>
    </div>
  </div>
  <div *ngIf="msgDragDrop && (!data || !data.list || data.list.length < 1) && (!list || list.length < 1) " class="msg-table-drag-drop"  @ngIfFade>
    <div class="msg-table-drag-drop-label truncate" [dragula]="dragulaName" [dragulaModel]="list">
        {{msgDragDrop}}
    </div>
  </div>
  <ng-template #nenhumResultado>
        <div class="sem-resultado" @ngIfFade>
            <span class="msg-nenhum-resultado">{{"SEM_REGISTROS" | translate}}</span>
        </div>
  </ng-template>
</div>