.modal-footer{
    border-top: solid 0.1rem rgba(242, 242, 242, 1);;
    padding: 1rem 1.3rem 0.3rem 1.3rem;
    text-align: right;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;;
    height: 3.8rem;
}