<span class="modal-loading">
  <mz-modal [options]="modalOptions">
    <mz-modal-content>
      <span class="message-loading white indigo-text center-align animate shadow-bottom-hover" @ngIfFade>
          <div class="col s12 center-align">
            <!-- <div class="preloader-wrapper active">
              <div class="spinner-layer spinner-blue-only">
                <div class="circle-clipper left">
                  <div class="circle"></div>
                </div><div class="gap-patch">
                  <div class="circle"></div>
                </div><div class="circle-clipper right">
                  <div class="circle"></div>
                </div>
              </div>
            </div> -->
            <img src="assets/images/loading-circle.png"  class="logo-rotate responsive-img">
            <img src="assets/images/loading-user.png"  class="responsive-img">
          </div>
          <label class="black-text animate" *ngIf="showMessage">
            {{staticMessage}}
          </label>
      </span>
    </mz-modal-content>
  </mz-modal>
</span>