.modal-loading .modal-footer{
    display: none;
}
.modal-loading .modal{
    background-color: transparent;
    box-shadow: none;
    padding: 0;
    text-align: center;
    width: 100%;
}
.message-loading{
    display: inline-flex;
    padding: 1em;
    align-items: center;
    align-content: center;
}
.message-loading img{
    height: 4rem;
    position: relative;
    margin-top: 0.5rem;
}
.message-loading img + img{
    margin-left: -4.24rem;
}
.message-loading label{
    font-size: 1.2rem;
    margin-left: 0.5rem;
    font-weight: 500;
}

.logo-rotate{
    animation-name: spin;
    animation-duration: 1500ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@-ms-keyframes spin {
    from { -ms-transform: rotate(0deg); }
    to { -ms-transform: rotate(360deg); }
}
@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

