<div *ngIf="isShow"  class="modal-light-back animate-fast" @ngIfFade @ngIfFadeOut> 
</div>
<div *ngIf="isShow" class="modal-back" @ngIfFade @ngIfFadeOut>
  <div class="animate-fast modal-container shadow-bottom-float-hover {{addClass}}" [style.width]= "width">
    <ng-content></ng-content>
</div>