.modal-light-back{
    position: fixed;
    display: block;
    background-color: rgba(black, 0.5);
    top: 0rem;
    right: 0rem;
    bottom: 0rem;
    left: 0rem;
    height: 100%;
    width: 100%;
    z-index: 1004;
}
.modal-back{
    position: fixed;
    display: block;
    top: 0rem;
    right: 0rem;
    bottom: 0rem;
    left: 0rem;
    height: 100%;
    width: 100%;
    z-index: 1005;
    // overflow: auto;
}

.modal-container{
    text-align: center;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 1);
    position: relative;
    top: 10%;
    padding: 0.5rem 1rem;
    border-radius: 0.2rem;
    bottom: 0;
}