.modal-body{
    position: relative;
    text-align: left;
    padding: 1rem 0.5rem 1rem 0.5rem;
    overflow: auto;
}

.shadow-scroll{
    border: 0.1rem solid transparent;
    position: relative;
    left: -1rem;
    z-index: 1004;
}