<!-- **************************************** Lista de Perfis -->
<div class="row" @ngIfFade>
  <div class="col s12">
      <m-table isDelete="true"
          [(data)]="dataTable" 
          (onClick)="selected($event)"
          (loadTable)=atualizarDadosTabela($event)
          addClass="bordered highlight">
          <m-head-table label="Nome" field="nome" sort="true" width="25%"></m-head-table>
      </m-table>
      <div class="fixed-action-btn">
          <button (click)="mostrarCadPerfil()" class="indigo hoverable btn-floating  waves-effect waves-light btn-large"
              float="true">
              <i class="material-icons">add</i>
          </button>
      </div>
  </div>
</div>
<!-- **************************************** Barra se pesquisa -->
<m-menu-right [isShow]="showFiltro" (close)="fecharPesquisa($event)"  [title]="textBtnPesq" full="true">
      <mz-input-container>
          <input mz-input maxlength="18" (keyup.enter)="listarFiltros()"
              label="{{'NOME' | translate}}"
              type="email"
              length="18"
              [(ngModel)]="fieldsSearch.nome">
          </mz-input-container>
      <div class="s12 right-align">
          <br>
          <button class="hoverable btn waves-effect black-text transparent" (click)="limparFiltro()">
                <i class="material-icons left">close</i>{{"LIMPAR" | translate}}</button>
          <button class="hoverable btn transparent indigo-text waves-effect" (click)="listarFiltros()">
                <i class="material-icons left">search</i>{{textBtnPesq}}</button>
      </div>
</m-menu-right>

<!-- *********************************** Cad Perfil -->
<m-modal [isShow]="showCad" width="60%">
    <m-modal-title>
        {{tituloCad}}
    </m-modal-title>
    <m-modal-body>
        <mz-input-container>
            <input mz-input maxlength="100" (keyup.enter)="listarFiltros()"
                label="{{'NOME' | translate}}"
                length="100"
                [(ngModel)]="perfil.nome">
        </mz-input-container>
        <!-- *********************************** Lista de ações do perfil -->
        <div class="title-table">
                <span class="h5">Ações</span>
                <button class="btn transparent btn-floating waves-effect"
                mz-tooltip [tooltip]="'ADD_ACAO_PERFIL' | translate" position="left" (click)="mostrarListaAcoes();">
                   <i class="material-icons black-text">playlist_add</i>
               </button>
        </div>
        <m-table [list]="perfil.acoes" [dragulaName]="dragDropAcoes" [msgDragDrop]="msgDrag">
            <m-head-table label="Nome" field="nome"></m-head-table>
            <m-head-table label="Item" field="item"></m-head-table>
            <m-head-table width="7%" icon="remove_circle_outline" btn="true" btnTooltip="{{'REMOVER_ACAO_PERFIL' | translate}}" (onClick)="removerAcaoPerfil($event)"></m-head-table>
        </m-table>
    </m-modal-body>
    <m-modal-footer>
        <button class="hoverable black-text btn waves-effect transparent" (click)="fecharCad()">
            <i class="material-icons left">close</i>
            {{"CANCELAR" | translate}}
        </button>
        <button class="hoverable btn transparent indigo-text waves-effect" (click)="salvarCadastroPerfil()">
            <i class="material-icons left">save</i>
            {{"SALVAR" | translate}}
        </button>
    </m-modal-footer>
</m-modal>

<!-- *********************************** Lista de ações cadastradas -->
<m-menu-right [isShow]="showAction"  width="40%" [title]="'ACOES_CADASTRADAS' | translate" full="true">
    <div class="col s12 center-align titulo-acoes">
            <div class="label-titulo-acao">{{"ARRASTE_ACOES" | translate}}</div>
            <m-table [list]="listaAcoes" [dragulaName]="dragDropAcoes" [msgDragDrop]="msgDrag">
                <m-head-table width="32%" label="Nome" field="nome"></m-head-table>
                <m-head-table width="32%" label="Item" field="item"></m-head-table>
                <m-head-table width="5%" icon="add_circle_outline" btn="true" btnTooltip="{{'ADD_ACAO_PERFIL' | translate}}" (onClick)="adicionarAcaoPerfil($event)"></m-head-table>
            </m-table>
        </div>
</m-menu-right>