.titulo-acoes{
    position: relative;
    height: 4rem;
}
.label-titulo-acao{
    font-size: 1.2rem;
    font-weight: 400;
    position: relative;
}
.div-acoes{
    min-height: 30rem;
    max-height: 30rem;
}
.div-acoes-perfil{
    min-height: 30rem;
    max-height: 30rem;
}