<div class="row" @ngIfFade>
    <div class="col offset-l4 l4 m6 offset-m3 offset-s2 s8">
        <mz-card class="animate">
          <mz-card-content>
              <mz-input-container>
                  <input mz-input maxlength="18"
                    label="{{'CNPJ' | translate}}"
                    length="18"
                    type="email"
                    [(ngModel)]="organizacao.cnpj">
                </mz-input-container>
              <mz-input-container>
                <input mz-input maxlength="100"
                  label="{{'NOME_FANTASIA' | translate}}"
                  length="100"
                  type="email"
                  [(ngModel)]="organizacao.nomeFantasia">
             </mz-input-container>
             <div class="s12 right-align">
                <br>
                <button class="hoverable btn waves-effect indigo-text transparent" (click)="limpar()">{{"LIMPAR" | translate}}</button>
                <button *ngIf="idOrganizacao" class="indigo" mz-button (click)="atualizar()">{{"ATUALIZAR" | translate}}</button>
                <button *ngIf="!idOrganizacao" class="indigo" mz-button (click)="salvar()">{{"SALVAR" | translate}}</button>
              </div>
          </mz-card-content>
      </mz-card>
    </div>
</div>