<div class="row">
    <br><br>
    <div class="animate col offset-s1  s10 offset-m3 m6 offset-l4 l4 z-depth-2 back-login " >
        <div class="col s12  container-login">
            <div class="row logo-login center-align">
                <div class=" s8 left-align" >
                    <img src="assets/images/logomarcarsgfindigo.png"  class="responsive-img">
                </div>
                <div class=" div-btn-back s4 right-align" @ngIfScale *ngIf="!inLogin">
                    <button class="indigo-text transparent btn waves-effect hoverable btn-floating" 
                        (click)="showLogin()" mz-tooltip tooltip="{{'VOLTAR' | translate}}" position="left">
                        <i class="material-icons black-text" flat="true" mz-button >arrow_back</i>
                    </button>
                </div>
            </div>
            <br>
            <div class="row container-dados" @ngIfSlide *ngIf="inLogin">
                <div class="col s12">
                    <h5>{{"ENTRAR" | translate}}</h5>
                </div>
                <div class="col s12">
                    <mz-input-container>
                        <input mz-input [(ngModel)]="user.login" #inputLogin
                          maxlength="100"
                          [label]="InformeLogin"
                          length="100"
                          type="text"
                          (keyup.enter)="showSenha()">
                    </mz-input-container>
                </div>
                <div class="col s12 left-align indigo-text">
                    <br>
                    {{"ESQUECEU_LOGIN" | translate}}
                </div>
                <br>
                <div class="col s12 right-align">
                    <button [disabled]="!inputLogin.value" class="btn waves-effect waves-light indigo-text transparent hoverable" (click)="showSenha()" >
                    <i mz-icon [align]="'left'" [icon]="'send'" [size]="'medium'"></i>
                        {{"PROXIMO" | translate}}</button>
                </div>
            </div>
            <div class="row container-dados" @ngIfSlide *ngIf="!inLogin">
                <div class="col s12">
                    <h5>{{"BEM_VINDO" | translate}}</h5>
                    <h6>{{user.nome}}</h6>
                </div>
                <br>
                <div class="col s12">
                    <mz-input-container>
                        <input mz-input [(ngModel)]="user.password" #inputSenha
                          maxlength="30"
                          [label]="informeSenha"
                          [validate]="true"
                          length="30"
                          type="password"
                          (keyup.enter)="login()">
                    </mz-input-container>
                </div>
                <div class="col s12 left-align indigo-text">
                    <br>
                    {{"ESQUECEU_SENHA" | translate}}
                    <br>
                </div>
                <br>
                <div class="col s12 right-align">
                    <button [disabled]="!inputSenha.value" class="btn waves-effect waves-light indigo-text transparent hoverable" mz-button
                     (click)="login()" >
                     <i mz-icon [align]="'left'" [icon]="'send'" [size]="'medium'"></i>
                     {{"LOGIN" | translate}}</button>
                </div>
            </div>
        </div>
    </div>
</div>
