.back-titles{
    top: 56px;
    width: 100%;
    position: fixed;
    z-index: 500;
    padding: 0.6rem 0.8rem  0.3rem 0.8rem;
}
.titles-hover{
    padding-top: 0.3rem;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0em 0.2em 0.3em 0em rgba(0, 0, 0, 0.15), 0em 0.4em 0.4em 0em rgba(0, 0, 0, 0.1), 0em 0.4em 0.5em 0em rgba(0, 0, 0, 0.15) !important;
    -moz-box-shadow: 0em 0.2em 0.3em 0em rgba(0, 0, 0, 0.15), 0em 0.4em 0.4em 0em rgba(0, 0, 0, 0.1), 0em 0.4em 0.5em 0em rgba(0, 0, 0, 0.15) !important;
    -webkit-shadow: 0em 0.2em 0.3em 0em rgba(0, 0, 0, 0.15), 0em 0.4em 0.4em 0em rgba(0, 0, 0, 0.1), 0em 0.4em 0.5em 0em rgba(0, 0, 0, 0.15) !important;
    .title-day{
        color: rgba(#3f51b5 , 1);
    }
}
.line-titles{
    display: flex;
}

.title-day{
    height: 14.2%;
    width: 14.2%;
    font-size: 1.2rem;
    font-weight: bold;
}

.day{
    height: 14%;
    width: 14.3%;
    position: relative;
    opacity: 1;
}
 .day:focus, .day.active, .day.active:hover{
    opacity: 1 !important;
    box-shadow: 0em 0.3em 1em 0em rgba(0, 0, 0, 0.25), 0em 0.6em 1.2em 0em rgba(0, 0, 0, 0.2), 0em 0.8em 1.4em 0em rgba(0, 0, 0, 0.25) !important;
    -moz-box-shadow: 0em 0.3em 1em 0em rgba(0, 0, 0, 0.25), 0em 0.6em 1.2em 0em rgba(0, 0, 0, 0.2), 0em 0.8em 1.4em 0em rgba(0, 0, 0, 0.25) !important;
    -webkit-box-shadow: 0em 0.3em 1em 0em rgba(0, 0, 0, 0.25), 0em 0.6em 1.2em 0em rgba(0, 0, 0, 0.2), 0em 0.8em 1.4em 0em rgba(0, 0, 0, 0.25) !important;
    -webkit-transform: scale(1.15);
    -moz-transform: scale(1.15);
    -ms-transform: scale(1.15);
    -o-transform: scale(1.15);
    transform: scale(1.15);
    z-index: 300;
}

.day:hover{
    opacity: 0.8;
    box-shadow: 0em 0.3em 1em 0em rgba(0, 0, 0, 0.4), 0em 0.6em 1.2em 0em rgba(0, 0, 0, 0.2), 0em 0.8em 1.4em 0em rgba(0, 0, 0, 0.25) !important;
    -moz-box-shadow: 0em 0.3em 1em 0em rgba(0, 0, 0, 0.4), 0em 0.6em 1.2em 0em rgba(0, 0, 0, 0.2), 0em 0.8em 1.4em 0em rgba(0, 0, 0, 0.25) !important;
    -webkit-box-shadow: 0em 0.3em 1em 0em rgba(0, 0, 0, 0.4), 0em 0.6em 1.2em 0em rgba(0, 0, 0, 0.2), 0em 0.8em 1.4em 0em rgba(0, 0, 0, 0.25) !important;
    z-index: 200;
}

.back-days{
    padding-top: 1.2rem;
}
.line-week{
    display: flex;
    width: 100%;
    padding: 0rem 0.8rem;
}