 <div class="page" *ngIf="mes && mes.semanas.length > 0">
    <div class="row">
        <div class="back-titles animate page" [class.titles-hover]="isFixed">
            <div class="line-titles">
                <div class="title-day truncate center-align animate">{{"SEGUNDA" | translate}}</div>
                <div class="title-day truncate center-align animate">{{"TERCA" | translate}}</div>
                <div class="title-day truncate center-align animate">{{"QUARTA" | translate}}</div>
                <div class="title-day truncate center-align animate">{{"QUINTA" | translate}}</div>
                <div class="title-day truncate center-align animate">{{"SEXTA" | translate}}</div>
                <div class="title-day truncate center-align animate">{{"SABADO" | translate}}</div>
                <div class="title-day truncate center-align animate">{{"DOMINGO" | translate}}</div>
            </div>
        </div>
    </div>
    <div class="row back-days">
        <div  class="line-week" *ngFor="let semana of mes.semanas">
            <m-dia *ngFor="let dia of semana.dias" [dia]="dia" class="day animate" [isAdmin]="isAdmin"
                (clickTrabalhando)="onClickTrabalhando($event)" (clickFolgando)="onClickFolgando($event)"
                [class.active]="dia.numDia == numDia && (ultimaAcao == 'TRA' || ultimaAcao == 'FOL')"
                [ultimaAcao]="ultimaAcao" [ativo]="dia.numDia == numDia"
                [dragulaName]="grupoDragDrop"
            ></m-dia>
        </div>
    </div>
</div>
<!-- ************** menu direito com os colaboradores com folgas pedentes -->
<m-menu-right [isShow]="mostrarFolgas" width="25rem" fixed="true" full="true" [title]="tooltipFolgas" >
    <m-table [(list)]="mes.folgas" addClass="bordered" [dragulaName]="grupoDragDrop">
        <m-head-table field="nome" label="{{'FUNCIONARIO' | translate}}"></m-head-table>
    </m-table>
</m-menu-right>

<!-- ************** menu direito com os colaboradores trabalhando -->
<m-menu-right [isShow]="mostrarTrabalhando" width="25rem" fixed="true" full="true" 
title="{{'TRABALHANDO' | translate}}" titleClass="teal white-text" (close)="closeDias()">
<m-table [(list)]="clickDay.trabalhando" addClass="bordered" [dragulaName]="grupoDragDrop">
    <m-head-table field="nome" label="{{'FUNCIONARIO' | translate}}"></m-head-table>
    <m-head-table *ngIf="((!mes.status || mes.status == 1) && !isAdmin)" width="5%" btnTooltip="{{'ALTERAR_FOLGANDO' | translate}}" btn="true" 
        icon="swap_horiz" (onClick)="mudaEscala($event);"></m-head-table>
</m-table>
</m-menu-right>

<!-- ************** menu direito com os colaboradores Folgando -->
<m-menu-right [isShow]="mostrarFolgando" width="25rem" fixed="true" full="true"
title="{{'FOLGANDO' | translate}}" titleClass="red white-text" (close)="closeDias()">
<m-table [(list)]="clickDay.folgando" addClass="bordered" [dragulaName]="grupoDragDrop">
    <m-head-table field="nome" label="{{'FUNCIONARIO' | translate}}"></m-head-table>
    <m-head-table *ngIf="((!mes.status || mes.status == 1) && !isAdmin)" width="5%" btnTooltip="{{'ALTERAR_TRABALHANDO' | translate}}" btn="true" 
        icon="swap_horiz" (onClick)="mudaEscala($event);"></m-head-table>
</m-table>
</m-menu-right>

<div *ngIf="semEscala" class="row" @ngIfFade>
    <div class="col s12" >
        <div class="center-align card sem-resultado white">
            <h5>{{"SEM_REGISTROS" | translate}}</h5>
        </div>
    </div>
</div>

