<br>
<div class="row">
    <div class="col s12 filtro-meses-escala" >
        <div class="col s4" @ngIfFade>
            <mz-select-container>
                <select mz-select [(ngModel)]="filialSelecionada" label="{{'FILIAL' | translate}}"
                (change)="onChangeFilial();" [disabled]="!listaFiliais || listaFiliais.length == 1">
                    <option *ngIf="!filialSelecionada && listaFiliais && listaFiliais.length > 2" class="left circle"></option>
                    <option *ngFor="let filial of listaFiliais" [value]="filial.id" class="left circle">{{filial.fantasia}}</option>
                </select>
            </mz-select-container>
        </div>
        <div *ngIf="listaAnos" class="col s1" @ngIfFade>
            <mz-select-container>
                <select mz-select [(ngModel)]="anoSelecionado" label="{{'ANO' | translate}}"
                (change)="onChangeAnoMeses();" [disabled]="!listaAnos || listaAnos.lenth == 1">
                <option *ngIf="!anoSelecionado && listaAnos && listaAnos.length > 2" class="left circle"></option>
                    <option *ngFor="let ano of listaAnos" [value]="ano.ano" class="left circle">{{ano.ano}}</option>
                </select>
            </mz-select-container>
        </div>
        <div class="col s7 center-align container-status-escalas">
            <div class="col s12 status-escala">
                    {{"STATUS_ESCALAS" | translate}}
            </div>
            <div class="chip  blue-grey lighten-4 black-text shadow-bottom"> {{"NAO_INICIADO" | translate}} </div>
            <div class="chip amber black-text shadow-bottom"> {{"ABERTO" | translate }}</div>
            <div class="chip teal darken-2 white-text shadow-bottom"> {{"LIBERADO" | translate}}</div>
            <div class="chip red darken-4 white-text shadow-bottom"> {{"FECHADO" | translate}}</div>
        </div>

    </div>
</div>

<div class="row" *ngIf="meses && meses.length > 0"  @ngIfFade>
    <div  class="col s12 conteudo-mes-ano">
        <div *ngFor="let mes of meses;let i = index" class="mes-ano shadow-bottom animate" [class.mes-not-id]="!mes.id">
            <div class="bar-left"  
                [ngClass]="{'amber': mes.status == 1, 'teal darken-2': mes.status == 2, 'red darken-4': mes.status ==3, ' blue-grey lighten-4': !mes.id}" ></div>
            <div class="titulo-mes-ano white black-text left-align truncate" >
                {{mes.nome | translate}}
            </div>
            <div class="acoes-mes-ano left-align">
                <button class="btn white btn-mes-ano waves-effect btn-floating btn-large animate"
                  *ngFor="let acao of mes.acoes" [routerLink]="[acao.link, mes]"
                   mz-tooltip tooltip="{{acao.tooltip | translate}}" position="top"
                  [disabled]="!permissaoMostrarMeses || ((!mes.status || mes.status == 1) && !isAdmin)">
                    <img class="responsive-img img-btn-mes-ano" [src]="acao.imgUrl" alt="">
                </button>
            </div>
        </div>
    </div>
</div>