.conteudo-mes-ano{
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: -1.5em;
}

.mes-ano{
    width: 24%;
    overflow: hidden !important;
    margin-bottom: 1rem !important;
    background-color: rgba(242, 242, 242, 1);
    display: block !important;
    max-height: 8rem;
    border-radius: 1rem 1rem 1rem 1rem;
}
.mes-ano:hover, .mes-ano:focus{
    z-index: 100;
    box-shadow: 0em 0.3em 1em 0em rgba(0, 0, 0, 0.25), 0em 0.6em 1.2em 0em rgba(0, 0, 0, 0.2), 0em 0.8em 1.4em 0em rgba(0, 0, 0, 0.25) !important;
    -moz-box-shadow: 0em 0.3em 1em 0em rgba(0, 0, 0, 0.25), 0em 0.6em 1.2em 0em rgba(0, 0, 0, 0.2), 0em 0.8em 1.4em 0em rgba(0, 0, 0, 0.25) !important;
    -webkit-box-shadow: 0em 0.3em 1em 0em rgba(0, 0, 0, 0.25), 0em 0.6em 1.2em 0em rgba(0, 0, 0, 0.2), 0em 0.8em 1.4em 0em rgba(0, 0, 0, 0.25) !important;
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
    transform: scale(1.05);
}

.titulo-mes-ano{
    display: block;
    position: relative;
    padding: 0.3rem;
    padding-left: 1.5rem;
    font-size: 1.3rem;
    font-weight: 500;
}
.acoes-mes-ano{
    display: flex;
    flex-wrap: wrap;
    justify-content: initial;
    align-items: center;
    align-content: space-between;
    padding: 2rem 1rem -0.5rem 1rem;
    margin-top: 1rem;
    padding-left: 1.5rem;
}
.btn-mes-ano{
    padding: 1rem;
    width: 4.5rem;
    height: 4.5rem;
}


.bar-left{
    position: relative;
    display: block;
    float: left;
    z-index: 300;
    width: 1.3rem;
    height: 20rem;
}
.mes-not-id{
    opacity: 0.8;
}

.status-escala{
    font-weight: 500;
    padding: 0.3rem;
    margin-top: -0.5rem;
}
.container-status-escalas{
    font-size: 1rem;
}
.container-status-escalas .chips{
    font-weight: 300;
    font-size: 1rem;
}