<span *ngFor="let acao of menuLinks">
  <mz-sidenav-collapsible *ngIf="!acao.rota">
    <mz-sidenav-collapsible-header>
      <div class="truncate text-side-nav-text-header">{{acao["nome"] | translate}}</div>
      <i class="material-icons right icon-side-nav-header">arrow_drop_up</i>
    </mz-sidenav-collapsible-header>
    <mz-sidenav-collapsible-content>
      <mz-sidenav-link *ngFor="let subAcao of acao.subMenus">
        <a [routerLink]="subAcao.rota" class="waves-effect">{{subAcao["nome"] | translate}}</a>
      </mz-sidenav-link>
    </mz-sidenav-collapsible-content>
  </mz-sidenav-collapsible>
  <mz-sidenav-link *ngIf="acao.rota">
    <a [routerLink]="acao.rota" class="waves-effect">{{acao["nome"] | translate}}</a>
  </mz-sidenav-link>
</span>
