<div class="row" @ngIfFade>
  <div class="col offset-l4 l4 m6 offset-m3 offset-s2 s8">
      <mz-card class="animate">
        <mz-card-content>
            <mz-select-container>
              <select mz-select [(ngModel)]="perfil.organizacao" [disabled]="idPerfil"
                label="{{'ORGANIZACAO' | translate}}">
                  <option value="" class="left circle"></option>
                  <option *ngFor="let item of listaOrganizacoes" [value]="item._id" class="left circle">{{item.nomeFantasia}}</option>
                  
              </select>
            </mz-select-container>
            <mz-input-container>
                <input mz-input maxlength="30"
                  label="{{'NOME' | translate}}"
                  length="30"
                  type="email"
                  [(ngModel)]="perfil.nome">
              </mz-input-container>
            <mz-input-container>
              <input mz-input maxlength="500"
                label="{{'DESCRICAO' | translate}}"
                length="500"
                type="email"
                [(ngModel)]="perfil.descricao">
           </mz-input-container>

           <div class="s12 right-align">
              <br>
              <button class="hoverable btn waves-effect indigo-text transparent" (click)="limpar()">{{"LIMPAR" | translate}}</button>
              <button *ngIf="idPerfil" class="indigo" mz-button (click)="atualizar()">{{"ATUALIZAR" | translate}}</button>
              <button *ngIf="!idPerfil" class="indigo" mz-button (click)="salvar()">{{"SALVAR" | translate}}</button>
            </div>
        </mz-card-content>
    </mz-card>
    <label>{{perfil.organizacao}}</label>
    <label>{{perfil.nome}}</label>
    <label>{{perfil.descricao}}</label>
  </div>
</div>