.side-slide-container{
    position: fixed;
    height: 100%;
    top: 56px;
    bottom: 0em; 
    display: block;
    z-index: 1025;
    right: 0em;
}
.side-slide-container.menu-right-full{
    top: 0em;
}

.side-slide-move{
    position: relative;
    height: 100%;
    top: 0em;
    bottom: 0em;
    width: 100%;
    display: block;
    background-color: rgba(255, 255, 255, 1);
}

.side-slide-title{
    height: 56px;
    position: absolute;
    z-index: 100;
    width: 100%;
    font-size: 1.3em;
    font-weight: 500;
    padding-top: 0.85em;
    padding-left: 4.3em;
    
}
.side-slide-title .btn{
    position: absolute;
    top: 0.5em;
    left: 0.5em;
    box-shadow: none;
}
.side-slide-body{
    height: 100%;
    width: 100%;
    position: absolute;
    margin-top: 56px;
    z-index: 10;
    overflow: auto;
    padding-bottom: 20%;    
}

.menu-right-modal{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 120vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1020;
    will-change: opacity;
}