<div *ngIf="_isShow" class="side-slide-container  animate" @ngIfSlideOutRight
    [style.width]= "width" [class.menu-right-full]="full">
  <div class="side-slide-move animate" @ngIfSlideInRight [class.not-shadow]="fixed">
    <div class="side-slide-title left-align {{titleClass}}" [class.shadow-bottom-hover]="isScroll">
      <button  (click)="closeClick()"
        class="hoverable white btn waves-effect btn-floating">
        <i class="material-icons black-text left">close</i>
      </button>
      <span>
        {{title}}
      </span>
    </div>
    <div class="side-slide-body" (scroll)="scrollSlideBody($event)">
      <div class="row">
        <div class="col s12">
          <ng-content></ng-content>

        </div>
      </div>
    </div>
  </div>
</div>
<div *ngIf="_isShow && modal" class="menu-right-modal">

</div>