@import "../node_modules/materialize-css/dist/css/materialize.css";
@import url('https://fonts.googleapis.com/css?family=Roboto');

// ------------------------Mixins
/* ------------------------------------------- Animações */
$sleep-fast: 300ms;
$sleep: 500ms;
$sleep-slow: 1s;
$sleep-more-slow: 1.5s;
$sleep-very-slow: 2.5s;

@mixin animate($time){
    -webkit-transition: all $time ease;
    -o-transition: all $time ease;
    -ms-transition: all $time ease;
    -moz-transition: all $time ease;
    transition: all $time ease;
 }
 
 @mixin set-scale($scale){
     -webkit-transform: scale($scale);
    -moz-transform: scale($scale);
     -ms-transform: scale($scale);
      -o-transform: scale($scale);
         transform: scale($scale);
 }
 
 @mixin set-rotate($rotate){
     -webkit-transform: rotate($rotate);
     -moz-transform: rotate($rotate);
     -ms-transform: rotate($rotate);
     -o-transform: rotate($rotate);
     transform: rotate($rotate);
 }
 
 
 .animate-fast{@include animate($sleep-fast)} .animate{@include animate($sleep)} .animate-slow{@include animate($sleep-slow)}
 .animate-more-slow{@include animate($sleep-more-slow)} .animate-very-slow{@include animate($sleep-very-slow)}
 
 
 .animate-zoom-in{
     @include set-scale(1);	
     animation: animate-zoom-in 0.5s  ease 1;
     -webkit-animation: animate-zoom-in 0.5s  ease 1;
     
 } 
 .animate-zoom-out{
     animation: animate-zoom-out 0.5s  ease;
     -webkit-animation: animate-zoom-out 0.5s  ease;
 } 
 .animate-zoom{
     @include set-scale(0);	
 }
 
 @keyframes animate-zoom-in{
     0%{
         @include set-scale(0);
     }
     70%{
         @include set-scale(1.2);	
     }
 
     100%{
         @include set-scale(1);	
     }
 }
 @keyframes animate-zoom-out{
     0%{
         @include set-scale(1);
     }
     30%{
         @include set-scale(1.2);	
     }
 
     100%{
         @include set-scale(0);	
     }
 }
 /* ------------------------------------------- Sombras */
 /* -------- Bottom */
 @mixin shadow-bottom(){
     box-shadow: 0em 0em 0.2em 0.01em rgba(0, 0, 0, 0.2), 0em 0.2em 0.3em 0em rgba(0, 0, 0, 0.16), 0em 0.25em 0.2em -0.2em rgba(0, 0, 0, 0.1) !important;
      -moz-box-shadow: 0em 0em 0.2em 0.01em rgba(0, 0, 0, 0.2), 0em 0.2em 0.3em 0em rgba(0, 0, 0, 0.16), 0em 0.25em 0.2em -0.2em rgba(0, 0, 0, 0.1) !important;
      -webkit-box-shadow: 0em 0em 0.2em 0.01em rgba(0, 0, 0, 0.2), 0em 0.2em 0.3em 0em rgba(0, 0, 0, 0.16), 0em 0.25em 0.2em -0.2em rgba(0, 0, 0, 0.1) !important;
 }
 @mixin shadow-bottom-hover(){
     box-shadow: 0em 0.2em 0.3em 0em rgba(0, 0, 0, 0.15), 0em 0.4em 0.4em 0em rgba(0, 0, 0, 0.1), 0em 0.4em 0.5em 0em rgba(0, 0, 0, 0.15) !important;
     -moz-box-shadow: 0em 0.2em 0.3em 0em rgba(0, 0, 0, 0.15), 0em 0.4em 0.4em 0em rgba(0, 0, 0, 0.1), 0em 0.4em 0.5em 0em rgba(0, 0, 0, 0.15) !important;
     -webkit-shadow: 0em 0.2em 0.3em 0em rgba(0, 0, 0, 0.15), 0em 0.4em 0.4em 0em rgba(0, 0, 0, 0.1), 0em 0.4em 0.5em 0em rgba(0, 0, 0, 0.15) !important;
 }
 @mixin shadow-bottom-focus(){
     box-shadow: 0em 0.2em 0.3em 0em rgba(0, 0, 0, 0.3), 0em 0.4em 0.4em 0em rgba(0, 0, 0, 0.2), 0em 0.4em 0.5em 0em rgba(0, 0, 0, 0.18) !important;
     -moz-box-shadow:  0em 0.2em 0.3em 0em rgba(0, 0, 0, 0.3), 0em 0.4em 0.4em 0em rgba(0, 0, 0, 0.2), 0em 0.4em 0.5em 0em rgba(0, 0, 0, 0.18) !important;
     -webkit-box-shadow:  0em 0.2em 0.3em 0em rgba(0, 0, 0, 0.3), 0em 0.4em 0.4em 0em rgba(0, 0, 0, 0.2), 0em 0.4em 0.5em 0em rgba(0, 0, 0, 0.18) !important;
 }
 
 @mixin shadow-bottom-float(){
     box-shadow: 0em 0.4em 1em -0.2em rgba(0, 0, 0, 0.15), 0em 0.8em 1.2em -0.2em rgba(0, 0, 0, 0.15), 0em 1em 1.4em -0.2em rgba(0, 0, 0, 0.18) !important;
     -moz-box-shadow: 0em 0.4em 1em -0.2em rgba(0, 0, 0, 0.15), 0em 0.8em 1.2em -0.2em rgba(0, 0, 0, 0.15), 0em 1em 1.4em -0.2em rgba(0, 0, 0, 0.18) !important;
     -webkit-box-shadow:  0em 0.4em 1em -0.2em rgba(0, 0, 0, 0.15), 0em 0.8em 1.2em -0.2em rgba(0, 0, 0, 0.15), 0em 1em 1.4em -0.2em rgba(0, 0, 0, 0.18) !important;
 }
 
 @mixin shadow-bottom-float-hover(){
     box-shadow: 0em 0.3em 1em 0em rgba(0, 0, 0, 0.25), 0em 0.6em 1.2em 0em rgba(0, 0, 0, 0.2), 0em 0.8em 1.4em 0em rgba(0, 0, 0, 0.25) !important;
      -moz-box-shadow: 0em 0.3em 1em 0em rgba(0, 0, 0, 0.25), 0em 0.6em 1.2em 0em rgba(0, 0, 0, 0.2), 0em 0.8em 1.4em 0em rgba(0, 0, 0, 0.25) !important;
      -webkit-box-shadow: 0em 0.3em 1em 0em rgba(0, 0, 0, 0.25), 0em 0.6em 1.2em 0em rgba(0, 0, 0, 0.2), 0em 0.8em 1.4em 0em rgba(0, 0, 0, 0.25) !important;
 }
 
 /* -------- Top */
 @mixin shadow-top(){
     box-shadow: 0em 0em 0.2em 0.01em rgba(0, 0, 0, 0.2), 0em -0.2em 0.3em 0em rgba(0, 0, 0, 0.16), 0em -0.25em 0.2em -0.2em rgba(0, 0, 0, 0.1) !important;
     -moz-box-shadow: 0em 0em 0.2em 0.01em rgba(0, 0, 0, 0.2), 0em -0.2em 0.3em 0em rgba(0, 0, 0, 0.16), 0em -0.25em 0.2em -0.2em rgba(0, 0, 0, 0.1) !important;
     -webkit-box-shadow: 0em 0em 0.2em 0.01em rgba(0, 0, 0, 0.2), 0em -0.2em 0.3em 0em rgba(0, 0, 0, 0.16), 0em -0.25em 0.2em -0.2em rgba(0, 0, 0, 0.1) !important;
 }
 
 @mixin shadow-top-hover(){
     box-shadow: 0em -0.2em 0.3em 0em rgba(0, 0, 0, 0.15), 0em -0.4em 0.4em 0em rgba(0, 0, 0, 0.1), 0em -0.4em 0.5em 0em rgba(0, 0, 0, 0.15) !important;
     -moz-box-shadow:  0em -0.2em 0.3em 0em rgba(0, 0, 0, 0.15), 0em -0.4em 0.4em 0em rgba(0, 0, 0, 0.1), 0em -0.4em 0.5em 0em rgba(0, 0, 0, 0.15) !important;
     -webkit-box-shadow: 0em -0.2em 0.3em 0em rgba(0, 0, 0, 0.15), 0em -0.4em 0.4em 0em rgba(0, 0, 0, 0.1), 0em -0.4em 0.5em 0em rgba(0, 0, 0, 0.15) !important;
 }
 /* -------- Left */
 @mixin shadow-left(){
     box-shadow: 0em 0em 0.2em 0.01em rgba(0, 0, 0, 0.2), -0.2em 0em 0.3em 0em rgba(0, 0, 0, 0.16), -0.25em 0em 0.2em -0.2em rgba(0, 0, 0, 0.1) !important;
     -moz-box-shadow: 0em 0em 0.2em 0.01em rgba(0, 0, 0, 0.2), -0.2em 0em 0.3em 0em rgba(0, 0, 0, 0.16), -0.25em 0em 0.2em -0.2em rgba(0, 0, 0, 0.1) !important;
     -webkit-box-shadow: 0em 0em 0.2em 0.01em rgba(0, 0, 0, 0.2), -0.2em 0em 0.3em 0em rgba(0, 0, 0, 0.16), -0.25em 0em 0.2em -0.2em rgba(0, 0, 0, 0.1) !important;
 }
 
 @mixin shadow-left-hover(){
     box-shadow: -0.2em 0em 0.3em 0em rgba(0, 0, 0, 0.15), -0.4em -0em 0.4em 0em rgba(0, 0, 0, 0.1), -0.4em -0em 0.5em 0em rgba(0, 0, 0, 0.15) !important;
     -moz-box-shadow:  -0.2em 0em 0.3em 0em rgba(0, 0, 0, 0.15), -0.4em -0em 0.4em 0em rgba(0, 0, 0, 0.1), -0.4em -0em 0.5em 0em rgba(0, 0, 0, 0.15) !important;
     -webkit-box-shadow: -0.2em 0em 0.3em 0em rgba(0, 0, 0, 0.15), -0.4em -0em 0.4em 0em rgba(0, 0, 0, 0.1), -0.4em -0em 0.5em 0em rgba(0, 0, 0, 0.15) !important;
 }
 /* -------- right */
 @mixin shadow-right(){
     box-shadow: 0em 0em 0.2em 0.01em rgba(0, 0, 0, 0.2), 0.2em 0em 0.3em 0em rgba(0, 0, 0, 0.16), 0.25em 0em 0.2em -0.2em rgba(0, 0, 0, 0.1) !important;
     -moz-box-shadow: 0em 0em 0.2em 0.01em rgba(0, 0, 0, 0.2), 0.2em 0em 0.3em 0em rgba(0, 0, 0, 0.16), 0.25em 0em 0.2em -0.2em rgba(0, 0, 0, 0.1) !important;
     -webkit-box-shadow: 0em 0em 0.2em 0.01em rgba(0, 0, 0, 0.2), 0.2em 0em 0.3em 0em rgba(0, 0, 0, 0.16), 0.25em 0em 0.2em -0.2em rgba(0, 0, 0, 0.1) !important;
 }
 
 @mixin shadow-right-hover(){
     box-shadow: 0.2em 0em 0.3em 0em rgba(0, 0, 0, 0.15), 0.4em -0em 0.4em 0em rgba(0, 0, 0, 0.1), 0.4em -0em 0.5em 0em rgba(0, 0, 0, 0.15) !important;
     -moz-box-shadow:  0.2em 0em 0.3em 0em rgba(0, 0, 0, 0.15), 0.4em -0em 0.4em 0em rgba(0, 0, 0, 0.1), 0.4em -0em 0.5em 0em rgba(0, 0, 0, 0.15) !important;
     -webkit-box-shadow: 0.2em 0em 0.3em 0em rgba(0, 0, 0, 0.15), 0.4em -0em 0.4em 0em rgba(0, 0, 0, 0.1), 0.4em -0em 0.5em 0em rgba(0, 0, 0, 0.15) !important;
 }
 
 .shadow-bottom{
     @include shadow-bottom();
 }
 .shadow-bottom-hover{
     @include shadow-bottom-hover();
    }
 .shadow-bottom-float-hover{
    @include shadow-bottom-float-hover()
 }
 .shadow-bottom-focus{
     @include shadow-bottom-focus();
 }
 .shadow-top{
     @include shadow-top();
 }
 .shadow-top{
     @include shadow-top();
 }
 .shadow-top-hover{
     @include shadow-top-hover();
 }
// ------------------------------ Alterações gerais ------------------------

body{
    font-family: 'Roboto', sans-serif !important;
    background-color: rgba(242, 242, 242, 1);
    font-size: 0.9rem;
}
.card .card-content {
    padding-top: 1.5rem !important;
    padding-bottom: 0.5rem !important;
    padding-right: 1.5rem !important;
    padding-left: 1.3rem !important;
}

.group-btns .card-action{
    padding: 1.1rem 1.5rem 0.3rem 1.5rem !important;
    text-align: right;
}
// ---------------------------- BTNS
.btn-large i {
    font-size: 1.8rem;
}

.fixed-action-btn {
    right: 1.3em !important;
    bottom: 0.5em !important;
}

.btn:focus{
    @include shadow-bottom-hover();
}

.btn{
    top: -0.6em;
    box-shadow: none !important;
    font-weight: 500 !important;
}
.btn:hover{
    @include shadow-bottom-hover();
}
.btn:disabled{
    background-color: transparent !important;
    opacity: 0.3 !important;
}
.btn + .btn{
    margin-left: 0.3em;
}
.fixed-action-btn  .btn-floating{
    @include shadow-bottom-hover();
}
.fixed-action-btn  .btn-floating:hover{
    @include shadow-bottom-float-hover();
}

@media (max-width: 700px){
    .not-phone {
        display: none;
    }
}

.padding-modal .modal-content h4{
    font-size: 1.3rem;
    font-weight: 400;
}

h1, .h1{
    font-size: 3rem !important;
    font-weight: 400 !important;
}
h2, .h2{
    font-size: 2.4rem !important;
    font-weight: 400 !important;
}
h3, .h3{
    font-size: 1.8rem !important;
    font-weight: 400 !important;
}
h4, .h4{
    font-size: 1.4rem !important;
    font-weight: 400 !important;
}
h5, .h5{
    font-size: 1.2rem !important;
    font-weight: 400 !important;
}
// ************************ Modal ************** 
.padding-modal .modal-footer{
    height: auto !important;
    padding: 0.5rem 1rem 0rem 1rem !important;
}
.padding-modal .btn + .btn{
    margin-left: 10px;
}
.padding-modal .modal-content{
    font-size: 1rem;
    font-weight: 400;
}

.modal-loading .modal-footer{
    display: none;
}
.modal-loading .modal{
    background-color: transparent;
    box-shadow: none;
    padding: 0;
    text-align: center;
    width: 100%;
}
.modal-overlay{
    z-index: 1050 !important;
}
.modal-loading .modal {
    z-index: 1100 !important;
}
.modal.open{
    z-index: 1100 !important;
}
// --------------------- Table
.table-footer .select-wrapper{
    width: 2.6rem;
    height: 1.2em;
}
.table-footer .select-wrapper input.select-dropdown{
    height: 1.3em;
    margin: 0em;
}
.table-footer .input-field {
    margin-top: 0rem;
}

.select-wrapper ul li span {
    color: rgba(63, 81, 181, 1); 
}
.sem-resultado{
    padding: 0.5rem;
}

.title-table{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0.8rem;
}

// --------------Nav
nav, nav .nav-wrapper i, nav a.button-collapse, nav a.button-collapse i {
    height: 56px !important;
    line-height: 56px !important;
}

.navbar-fixed{
    height: 56px !important;
}
// -------------- side slide
.side-slide-move{
    @include shadow-left-hover();
}

.not-shadow{
    @include shadow-left();
}
// -------------- Inputs
.character-counter{
    margin-top: -1em;
}
// ----------------- pagina escala
.page{
    @include animate($sleep);
}

.btn-badge tr{
    display: none;
}
.badge-nav{
    position: absolute !important; 
    font-size: 0.8rem !important;
    left: 0.8rem !important;
     top: 0.5rem !important;
    // line-height: 1.5rem !important;
    // min-height: 1.5rem !important;
    min-width: 1.5rem !important;
    border: none;
    border-radius: 50% !important;
}

.day .badg-day{
    position: absolute;
    min-width: 1.7rem;
    min-height: 1.7rem;
    font-size: 0.8rem;
    margin-top: -5rem;
    margin-left: 1.6rem;
    border-radius: 50%;
    line-height: 1.6rem;
    z-index: 310;
    border: 0.1em white solid;
}


.titulo-trabalhando{
    color: #00796b !important;
}
.titulo-folgando{
    color: #b71c1c !important;
}
// --------------------- sideNav
.side-nav  .active .collapsible-body li > a {
    color: rgba(#3f51b5, 1) !important;
}
.text-side-nav-text-header{
    margin-left: 0.2rem;
    width: 105%;
    color: rgba(0, 0, 0, 0.8);
}
.collapsible-body .text-side-nav-text-header{
    padding-left: 1rem;
}
.collapsible-body .collapsible-body li  a{
    padding-left: 4rem !important;
}
.icon-side-nav-header{
    position: absolute;
    top: -0.1rem;
    left: 0.5rem;
    font-weight: bold;
    @include animate($sleep-fast);
    color: rgba(0, 0, 0, 0.8);
    @include set-rotate(90deg);
}
.collapsible-body  .icon-side-nav-header{
    left: 1.5rem;
    
}
.collapsible-header {
    @include animate($sleep-fast);
    font-weight: bold !important;
}
.collapsible-header.active > .text-side-nav-text-header{
    color: rgba(#3f51b5, 1) !important;
}
.collapsible-header.active > .icon-side-nav-header{
    @include set-rotate(180deg);
    color: rgba(#3f51b5, 1) !important;
}

.img-logo-menu{
    padding: 1rem;
    display: flex;
    align-items: center;
}
.titulo-menu{
    position: relative;
    color: rgba(#3f51b5, 1) !important;
    margin-left: 1rem;
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: -0.2rem;
}
.img-logo-menu img{
    height: 2.5rem !important;
}
// --------------------- Home
.filtro-meses-escala label{
    color: black !important;
    font-weight: 500 !important;
    font-size: 1rem !important;
  }