.conteudo-dia{
    background-color: rgba(255, 255, 255, 1);
}

.num-dia{
    position: relative;
    font-weight: bold;
    padding-left: 0.4rem;
    color: black;
}

.icons-dia-conteudo{
    width: 100%;
    height: 50%;
    display: inline-flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-top: 7%;
    padding-bottom: 0.5%;
}

.icons-dia-conteudo .btn-floating.btn-large{
    padding: 0.3rem;
    width: 3.2rem;
    height: 3.2rem;
}
.icons-dia-conteudo .btn + .btn{
    margin: 0rem;
}
.icons-dia-conteudo .btn{
    margin: 0.22rem;
}

.btn.TRA.active, .btn.FOL.active{
    background-color: rgba(#1a237e , 1) !important;
    box-shadow: 0em 0.1em 0.2em 0.1em rgba(0, 0, 0, 0.3), 0em 0.2em 0.3em 0em rgba(0, 0, 0, 0.3), 0em 0.25em 0.2em 0.2em rgba(0, 0, 0, 0.2) !important;
    -moz-box-shadow: 0em 0.1em 0.2em 0.1em rgba(0, 0, 0, 0.3), 0em 0.2em 0.3em 0em rgba(0, 0, 0, 0.3), 0em 0.25em 0.2em 0.2em rgba(0, 0, 0, 0.2) !important;
    -webkit-box-shadow: 0em 0.1em 0.2em 0.1em rgba(0, 0, 0, 0.3), 0em 0.2em 0.3em 0em rgba(0, 0, 0, 0.3), 0em 0.25em 0.2em 0.2em rgba(0, 0, 0, 0.2) !important;
}

.vazio{
    opacity: 0.3;
}

.drag-over{
    box-shadow: 0em 0.1em 0.2em 0.1em rgba(0, 0, 0, 0.3), 0em 0.2em 0.3em 0em rgba(0, 0, 0, 0.3), 0em 0.25em 0.2em 0.2em rgba(0, 0, 0, 0.2) !important;
    -moz-box-shadow: 0em 0.1em 0.2em 0.1em rgba(0, 0, 0, 0.3), 0em 0.2em 0.3em 0em rgba(0, 0, 0, 0.3), 0em 0.25em 0.2em 0.2em rgba(0, 0, 0, 0.2) !important;
    -webkit-box-shadow: 0em 0.1em 0.2em 0.1em rgba(0, 0, 0, 0.3), 0em 0.2em 0.3em 0em rgba(0, 0, 0, 0.3), 0em 0.25em 0.2em 0.2em rgba(0, 0, 0, 0.2) !important;
    -webkit-transform: scale(1.3);
    -moz-transform: scale(1.3);
    -ms-transform: scale(1.3);
    -o-transform: scale(1.3);
    transform: scale(1.3);
}


.img-not-admin img{
    max-width: 4rem;
}
@media (min-width: 1900px) {.num-dia{font-size: 1.7rem;}}
@media (min-width: 1600px) and (max-width: 1899px) {.num-dia{font-size: 1.5rem;}}
@media (min-width: 1360px) and (max-width: 1599px) {.num-dia{font-size: 1.4rem;}}
@media (min-width: 1024px) and (max-width: 1359px) {.num-dia{font-size: 1.3rem;}}
@media (min-width: 800px) and (max-width: 1023px) {.num-dia{font-size: 1.2rem;}}
@media (min-width: 600px) and (max-width: 799px) {.num-dia{font-size: 1.1rem;}}
@media (min-width: 400px) and (max-width: 599px) {.num-dia{font-size: 1rem;}}