<div class="conteudo-dia shadow-bottom animate" *ngIf="isAdmin">
  <div class="num-dia black-text" [class.vazio]="!dia.trabalhando && !dia.folgando ">
    {{dia.numDia}}
  </div>
  <!-- **************** Botão trabalhando admin -->
  <div *ngIf="dia.numDia" class="icons-dia-conteudo center-align">
    <div class="btn-badge">
      <button [id]="dia.numDia" class="indigo-text transparent btn waves-effect hoverable btn-floating btn-large animate {{ultimaAcao}}" 
      mz-tooltip tooltip="{{'TRABALHANDO' | translate}}" position="top"
      [class.active]="ativo && ultimaAcao == 'TRA'"
      (click)="onClickTrabalhando(dia, $event)" 
      [dragula]="dragulaName" [dragulaModel]="dia.trabalhando"
      [disabled]="dia.isFeriado">
      <img *ngIf="!ativo || ultimaAcao != 'TRA'"  src="assets/images/working.png"  class="responsive-img">
      <img *ngIf="ativo && ultimaAcao == 'TRA'"  src="assets/images/working-white.png"  class="responsive-img">
    </button>
    <div *ngIf="dia.trabalhando && dia.trabalhando.length" class="badg-day white-text  teal darken-2 " 
    data-badge-caption="" @ngIfFade>{{dia.trabalhando.length}}</div>
  </div>
  <!-- **************** Botão folgando admin -->
  <div class="btn-badge">
    <button [id]="dia.numDia" class="indigo-text transparent btn waves-effect hoverable btn-floating btn-large animate {{ultimaAcao}}" 
    mz-tooltip tooltip="{{'FOLGANDO' | translate}}" position="top"
    [class.active]="ativo && ultimaAcao == 'FOL'"
    (click)="onClickFolgando(dia, $event)" [disabled]="dia.numDia <= 0"
    class="btn-badge" [dragula]="dragulaName" [dragulaModel]="dia.folgando"
    [disabled]="dia.isFeriado">
    <img *ngIf="!ativo || ultimaAcao != 'FOL'"  src="assets/images/loafing.png"  class="responsive-img">
    <img *ngIf="ativo && ultimaAcao == 'FOL'" src="assets/images/loafing-white.png"  class="responsive-img">
  </button>
  <div *ngIf="dia.folgando && dia.folgando.length > 0" class="badg-day white-text red darken-4 " 
    data-badge-caption="" @ngIfFade>{{dia.folgando.length}}</div>
  </div>
  
 </div>
</div>
<div class="conteudo-dia shadow-bottom animate" *ngIf="!isAdmin"
[ngClass]="{'teal darken-2':dia.trabalhando && dia.trabalhando.length > 0,'red darken-4': dia.folgando && dia.folgando.length > 0}">
  <div class="num-dia white-text" [class.vazio]="!dia.trabalhando && !dia.folgando ">
    {{dia.numDia}}
  </div>
    <!-- **************** Imagens trabalhando e folgando não admin -->
    <div class="btn-badge">
      <div class="img-not-admin center-align">
        <img  *ngIf="dia.trabalhando && dia.trabalhando.length > 0"  src="assets/images/working-white.png"  class="responsive-img">
        <img *ngIf="dia.folgando && dia.folgando.length > 0"  src="assets/images/loafing-white.png"  class="responsive-img">
      </div>
    </div>
  </div>